# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# AWS
.aws/
*.pem

# Power BI
*.pbix

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
*.csv
*.parquet
*.json
!pyrightconfig.json
!data-generation/raw/*.csv
data/raw/
data/processed/
